.text-title {
	margin-top: 20px;
	margin-bottom: 20px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-weight: 700;
 	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.2;
}

.text-content {
	font-family: "Raleway", "Tahoma", sans-serif;
 	font-size: 14px;
 	line-height: 1.5;
}

.text-red {
	color: rgb(232, 69, 69);
}

.text-white {
	color: #fff;
}

.text-center {
	text-align: center;
}

.no-padding {
	padding: 0;
}

#header {
	height: 750px;

	background-image: url("../img/header_bg.jpg");
}

.navbar {
  padding-bottom: 20px;

  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  padding-left: 0;
}

.navbar a {
	margin-top: 40px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-weight: 700;
	font-size: 13px;
  text-transform: uppercase;

	color: rgba(255, 255, 255, 0.749);
}

.navbar li a:hover {
	background-color: transparent;
	color: #fff;
}

#header-content {
	text-align: center;
}

#header-content h1 {
	margin-top: 100px;

	font-family: "Open Sans", "Tahoma", sans-serif;
	font-weight: 700;
	font-size: 65px;
  text-transform: uppercase;
  line-height: 1.092;

	color: #fff;
}

#header-content h2 {
	margin-top: 40px;
	margin-bottom: 60px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 22px;
  line-height: 1.5;

	color: #fff;
}

.btn-red {
  padding: 10px 50px 10px 50px;
	
	font-family: "Raleway", "Tahoma", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;

	color: #fff;
	background: #e84545;

  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
}

.btn-red:hover {
	text-decoration: none;

	color: #fff;
  background: #e81d1d;
}

#features {
	margin-top: 100px;
	margin-bottom: 40px;
}

.feature-box {
	margin-bottom: 60px;

	text-align: center;
}

.feature-box img {
	margin: 0 auto;
}

.feature-box .text-title {
	color: rgb(45, 48, 51);
}

.feature-box .text-content {
	color: rgb(108, 114, 121);
}

.work-box {
	margin-right: 1px;
	margin-bottom: 1px;
}

.work-box figcaption p {
  padding-top: 30%;

	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  text-align: center;

  color: transparent;
  background-color: transparent;
  
  -webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.work-box:hover figcaption p {
	color: #fff;
  background-color: rgba(232, 69, 69, 0.9);
}

#team {
	margin-top: 100px;
}

.team-name {
	margin-top: 20px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-size: 22px;
	line-height: 1.2;

	color: rgb(45, 48, 51);
}

.team-post {
	margin-top: 10px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 1.2;
	text-transform: uppercase;

	color: rgb(232, 69, 69);
}

.team-info {
	margin-top: 20px;

	font-family: "Raleway", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 1.5;

	color: rgb(108, 114, 121);
}

.section {
	padding: 100px 0;
}

.download h3 {
	margin-top: 0;
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
	margin-bottom: 10px;
	font-family: inherit;
	line-height: 1.1;
}

.download p {
	color: #2d3033;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22.4px;
	margin: 0 0 10px;
}

.download #btn {
	margin-top: 30px;
	padding: 15px 40px;
	background-color: #e84545;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}

footer {
  text-align: center;

	color: #fff;
	background-color: #3a3e64;
}

footer .text-content {
	color: rgba(255, 255, 255, 0.5);
}

#footer-content {
	margin-top: 40px;
	margin-bottom: 40px;
}

.share-ico {
	display: inline-flex;
}

.share-ico img {
	margin-right: 6px;

	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.share-ico a:hover img {
	background-color: rgba(232, 69, 69, 0.9);
}

#footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  
	background-color: #313454;
}

#footer-copyright .text-content {
	color: rgb(128, 128, 128);
}